<div class="position-relative overflow-hidden p-3 text-center" style="background-color: white;">
  <div class="row">
    <div class="col-8 d-flex justify-content-start">

     <div class="dropdown">
      <h1 class="page-title" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 27px;">
        Smart Sports Discipline Recommendation
      </h1>

    </div>
    </div>
    <div class="col-3 offset-1" style="">
      <div class="row">
        <div class="col-7">
          <form>
            <input
              class="form-control"
              type="search"
              placeholder="Search Sports"
              aria-label="Search"
            />
          </form>
        </div>
        <div class="col-5 d-flex justify-content-start">
          <i class="fa fa-tasks px-2" style="font-size: 25x; color: grey; margin-top: 5px;"></i>

      <i
        class="fa fa-bell-o px-2 position-relative"
        style="font-size: 23px; color: grey"
      >
        </i
      >
      <i class="fa fa-edit px-2" style="font-size: 23px; color: grey"></i>
        </div>
      </div>


    </div>
  </div>
</div>
