<div class="position-relative overflow-hidden p-3 text-center">
  <div class="row">
    <div class="col-7">
      <form style="max-width: 28%;">
        <input
          class="form-control"
          type="search"
          placeholder="Search Sports"
          aria-label="Search"
        />
      </form>
    </div>
    <div class="col-5" style="text-align-last: end">
      <i class="fa fa-tasks px-2" style="font-size: 25x; color: grey"></i>

      <i
        class="fa fa-bell-o px-2 position-relative"
        style="font-size: 23px; color: grey"
      >
        </i
      >
      <i class="fa fa-edit px-2" style="font-size: 23px; color: grey"></i>
    </div>
  </div>
</div>
