<div class="container-fluid form-container">
  <p *ngIf="errorMessage != ''" class="d-flex text-danger justify-content-center">{{errorMessage}}</p>
  <form #inputForm *ngIf="!submitted" class="row pt-5 g-2" [formGroup]="frmRegister"
    (ngSubmit)="sportsPrediction(frmRegister.value)">
    <div class="col-12 col-md-6 gx-5">
      <div class="row g-3 align-items-center">
        <div class="col-12 col-md-5 text-start">
          <label for="name" class="form-label">Name</label>
        </div>
        <div class="col-12 col-md-7">
          <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" formControlName="name"
            autocomplete="off" [ngClass]="{ 'is-invalid': f['name'].touched && f['name'].errors }" />


        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 gx-5">
      <div class="row g-3 align-items-center">
        <div class="col-12 col-md-5 text-start">
          <label for="inputSport" class="form-label">Select Sports</label>
        </div>
        <div class="col-12 col-md-7">
          <select id="inputSport" class="form-select" name="sportstype" formControlName="sportstype">
            <option value="Football">Football</option>
            <option value="Cricket">Cricket</option>
            <option value="Tennis">Tennis</option>
            <option value="BasketBall">BasketBall</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 gx-5">
      <div class="row g-3 align-items-center">
        <div class="col-12 col-md-5 text-start">
          <label for="bmi" class="form-label">BMI</label>
        </div>
        <div class="col-12 col-md-7">
          <input type="number" min="1" max="99" class="form-control" id="bmi" name="bmi" formControlName="bmi" required
            placeholder="Enter BMI" autocomplete="off"
            [ngClass]="{ 'is-invalid': f['bmi'].touched && f['bmi'].errors }" />

          <div *ngIf="(frmRegister.controls['bmi'].invalid &&
            (frmRegister.controls['bmi'].dirty ||
              frmRegister.controls['bmi'].touched)) && frmRegister.controls['bmi'].errors?.['max']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter valid BMI
          </div>
          <div *ngIf="(frmRegister.controls['bmi'].invalid &&
          (frmRegister.controls['bmi'].dirty ||
            frmRegister.controls['bmi'].touched)) && frmRegister.controls['bmi'].errors?.['min']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter positive value
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 gx-5">
      <div class="row g-3 align-items-center">
        <div class="col-12 col-md-5 text-start">
          <label for="Running_Speed" class="form-label">Running Speed</label>
        </div>
        <div class="col-12 col-md-7">
          <input type="number" min="1" max="99" class="form-control" id="Running_Speed" name="Running_Speed"
            formControlName="Running_Speed" required placeholder="Enter Running Speed" autocomplete="off"
            [ngClass]="{ 'is-invalid': f['Running_Speed'].touched && f['Running_Speed'].errors }" />


          <div *ngIf="(frmRegister.controls['Running_Speed'].invalid &&
            (frmRegister.controls['Running_Speed'].dirty ||
              frmRegister.controls['Running_Speed'].touched)) && frmRegister.controls['Running_Speed'].errors?.['max']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter valid Running Speed
          </div>
          <div *ngIf="(frmRegister.controls['Running_Speed'].invalid &&
          (frmRegister.controls['Running_Speed'].dirty ||
            frmRegister.controls['Running_Speed'].touched)) && frmRegister.controls['Running_Speed'].errors?.['min']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter positive value
          </div>


        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 gx-5">
      <div class="row g-3 align-items-center">
        <div class="col-12 col-md-5 text-start">
          <label for="agility" class="form-label">Agility</label>
        </div>
        <div class="col-12 col-md-7">
          <input type="number" min="1" max="99" class="form-control" id="agility" name="agility"
            formControlName="agility" required placeholder="Enter Agility" autocomplete="off"
            [ngClass]="{ 'is-invalid': f['agility'].touched && f['agility'].errors }" />

          <div *ngIf="(frmRegister.controls['agility'].invalid &&
            (frmRegister.controls['agility'].dirty ||
              frmRegister.controls['agility'].touched)) && frmRegister.controls['agility'].errors?.['max']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter postive value 0-100
          </div>
          <div *ngIf="(frmRegister.controls['agility'].invalid &&
          (frmRegister.controls['agility'].dirty ||
            frmRegister.controls['agility'].touched)) && frmRegister.controls['agility'].errors?.['min']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter positive value
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 gx-5">
      <div class="row g-3 align-items-center">
        <div class="col-12 col-md-5 text-start">
          <label for="Reaction_Time" class="form-label">Reaction Time</label>
        </div>
        <div class="col-12 col-md-7">
          <input type="number" min="1" max="99" class="form-control" id="Reaction_Time" formControlName="Reaction_Time"
            name="Reaction_Time" required placeholder="Enter Reaction Time" autocomplete="off"
            [ngClass]="{ 'is-invalid': f['Reaction_Time'].touched && f['Reaction_Time'].errors }" />

          <div *ngIf="(frmRegister.controls['Reaction_Time'].invalid &&
            (frmRegister.controls['Reaction_Time'].dirty ||
              frmRegister.controls['Reaction_Time'].touched)) && frmRegister.controls['Reaction_Time'].errors?.['max']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter postive value 0-100
          </div>
          <div *ngIf="(frmRegister.controls['Reaction_Time'].invalid &&
          (frmRegister.controls['Reaction_Time'].dirty ||
            frmRegister.controls['Reaction_Time'].touched)) && frmRegister.controls['Reaction_Time'].errors?.['min']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter positive value
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 gx-5">
      <div class="row g-3 align-items-center">
        <div class="col-12 col-md-5 text-start">
          <label for="balance" class="form-label">Balance</label>
        </div>
        <div class="col-12 col-md-7">
          <input type="number" min="1" max="99" class="form-control" id="balance" name="balance"
            formControlName="balance" required placeholder="Enter Balance" autocomplete="off"
            [ngClass]="{ 'is-invalid': f['balance'].touched && f['balance'].errors }" />

          <div *ngIf="(frmRegister.controls['balance'].invalid &&
            (frmRegister.controls['balance'].dirty ||
              frmRegister.controls['balance'].touched)) && frmRegister.controls['balance'].errors?.['max']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter postive value 0-100
          </div>
          <div *ngIf="(frmRegister.controls['balance'].invalid &&
          (frmRegister.controls['balance'].dirty ||
            frmRegister.controls['balance'].touched)) && frmRegister.controls['balance'].errors?.['min']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter positive value
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 gx-5">
      <div class="row g-3 align-items-center">
        <div class="col-12 col-md-5 text-start">
          <label for="strength" class="form-label">Strength</label>
        </div>
        <div class="col-12 col-md-7">
          <input type="number" min="1" max="99" class="form-control" id="strength" name="strength"
            formControlName="strength" required placeholder="Enter Strength" autocomplete="off"
            [ngClass]="{ 'is-invalid': f['strength'].touched && f['strength'].errors }" />

          <div *ngIf="(frmRegister.controls['strength'].invalid &&
            (frmRegister.controls['strength'].dirty ||
              frmRegister.controls['strength'].touched)) && frmRegister.controls['strength'].errors?.['max']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter postive value 0-100
          </div>
          <div *ngIf="(frmRegister.controls['strength'].invalid &&
          (frmRegister.controls['strength'].dirty ||
            frmRegister.controls['strength'].touched)) && frmRegister.controls['strength'].errors?.['min']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter positive value
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 gx-5">
      <div class="row g-3 align-items-center">
        <div class="col-12 col-md-5 text-start">
          <label for="aggression" class="form-label">Aggression</label>
        </div>
        <div class="col-12 col-md-7">
          <input type="number" min="1" max="99" class="form-control" id="aggression" name="aggression"
            formControlName="aggression" required placeholder="Enter Aggression" autocomplete="off"
            [ngClass]="{ 'is-invalid': f['aggression'].touched && f['aggression'].errors }" />

          <div *ngIf="(frmRegister.controls['aggression'].invalid &&
            (frmRegister.controls['aggression'].dirty ||
              frmRegister.controls['aggression'].touched)) && frmRegister.controls['aggression'].errors?.['max']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter postive value 0-100
          </div>
          <div *ngIf="(frmRegister.controls['aggression'].invalid &&
          (frmRegister.controls['aggression'].dirty ||
            frmRegister.controls['aggression'].touched)) && frmRegister.controls['aggression'].errors?.['min']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter positive value
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 gx-5">
      <div class="row g-3 align-items-center">
        <div class="col-12 col-md-5 text-start">
          <label for="anticipation_index" class="form-label">
            Anticipation Index
          </label>
        </div>
        <div class="col-12 col-md-7">
          <input type="number" min="1" max="99" class="form-control" id="anticipation_index" name="anticipation_index"
            formControlName="anticipation_index" required placeholder="Enter Anticipation Index" autocomplete="off"
            [ngClass]="{ 'is-invalid': f['anticipation_index'].touched && f['anticipation_index'].errors }" />

          <div
            *ngIf="(frmRegister.controls['anticipation_index'].invalid &&
            (frmRegister.controls['anticipation_index'].dirty ||
              frmRegister.controls['anticipation_index'].touched)) && frmRegister.controls['anticipation_index'].errors?.['max']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter postive value 0-100
          </div>
          <div
            *ngIf="(frmRegister.controls['anticipation_index'].invalid &&
          (frmRegister.controls['anticipation_index'].dirty ||
            frmRegister.controls['anticipation_index'].touched)) && frmRegister.controls['anticipation_index'].errors?.['min']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter positive value
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 gx-5">
      <div class="row g-3 align-items-center">
        <div class="col-12 col-md-5 text-start">
          <label for="peripheral_vision" class="form-label">Peripheral Vision</label>
        </div>
        <div class="col-12 col-md-7">
          <input type="number" min="1" max="99" class="form-control" id="peripheral_vision" name="peripheral_vision"
            formControlName="peripheral_vision" required placeholder="Enter Peripheral Vision" autocomplete="off"
            [ngClass]="{ 'is-invalid': f['peripheral_vision'].touched && f['peripheral_vision'].errors }" />


          <div
            *ngIf="(frmRegister.controls['peripheral_vision'].invalid &&
            (frmRegister.controls['peripheral_vision'].dirty ||
              frmRegister.controls['peripheral_vision'].touched)) && frmRegister.controls['peripheral_vision'].errors?.['max']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter postive value 0-100
          </div>
          <div
            *ngIf="(frmRegister.controls['peripheral_vision'].invalid &&
          (frmRegister.controls['peripheral_vision'].dirty ||
            frmRegister.controls['peripheral_vision'].touched)) && frmRegister.controls['peripheral_vision'].errors?.['min']"
            class="alert alert-danger mt-2" style="font-size: 11px;">
            Please enter positive value
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center mt-5">
      <button type="submit" class="btn btn-primary btn-sm" style="margin-right: 10px;width: 8vw;"
        [disabled]="frmRegister.invalid">
        Submit
      </button>

      <button type="button" class="btn btn-secondary btn-sm" style="margin-right: 10px;width: 8vw;" (click)="clear()">
        Reset
      </button>
    </div>
  </form>

  <div *ngIf="submitted" class="d-flex justify-content-center">
    <div class="row">
      <div class="offset-3 col-12">
        <div class="spinner-border mt-5" style="width: 5rem; height: 5rem;" role="status"></div>
      </div>
      <div class="offset-3 col-12">
        <span>Please wait!!!</span>
      </div>
    </div>
  </div>
</div>
