.form-control.is-invalid, .was-validated .form-control:invalid{
  background-image : none  !important
}

.form-label{
  font-weight: bold;
  font-family: monospace;
}
.form-container{
  /* background-image: url('../../assets/form-bg.jpg'); */
  /* background-color: rgba(255, 255, 255, 0.891);
  background-blend-mode: overlay; */
}


.swal2-actions.swal2-styled.swal2-confirm{
  background-color: blue !important;
}

.swal2-actions.swal2-icon.swal2-info{
  border-color: blue !important;
    color: blue !important;
}
