<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div
    class="wow animate__slideInLeft bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
    data-wow-delay="0.5s"
    data-wow-duration="1s"
  >
    <div class="my-3 py-3">
      <h2 class="display-5">Rise to the Top</h2>
      <figure>
        <blockquote class="blockquote" style="font-size: 1rem">
          <p>
            Ability may get you to the top, but it takes character to keep you
            there.
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">John Wooden</figcaption>
      </figure>
    </div>
    <div
      class="bg-light shadow-sm mx-auto"
      style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
    >
      <img class="img-fluid img-thumbnail" src="../../assets/basketball.png" />
    </div>
  </div>
  <div
    class="wow animate__slideInRight bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
    data-wow-delay="0.5s"
    data-wow-duration="1s"
  >
    <div class="my-3 p-3">
      <h2 class="display-5">Dream Big - Work Hard</h2>
      <figure>
        <blockquote class="blockquote" style="font-size: 1rem">
          <p>When people throw stones at you, you turn them into milestones.</p>
        </blockquote>
        <figcaption class="blockquote-footer">Sachin Tendulkar</figcaption>
      </figure>
    </div>
    <div
      class="bg-dark shadow-sm mx-auto"
      style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
    >
      <img class="img-fluid img-thumbnail" src="../../assets/cricket.png" />
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div
    class="wow animate__slideInLeft bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"
    data-wow-delay="0.5s"
    data-wow-duration="1s"
  >
    <div class="my-3 p-3">
      <h2 class="display-5">Believe In Your Dream</h2>
      <figure>
        <blockquote class="blockquote" style="font-size: 1rem">
          <p>
            The more difficult the victory, the greater the happiness in
            winning.
          </p>
        </blockquote>
        <figcaption class="blockquote-footer">Pelé</figcaption>
      </figure>
    </div>
    <div
      class="bg-dark shadow-sm mx-auto"
      style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
    >
      <img class="img-fluid img-thumbnail" src="../../assets/football.png" />
    </div>
  </div>
  <div
    class="wow animate__slideInRight bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
    data-wow-delay="0.5s"
    data-wow-duration="1s"
  >
    <div class="my-3 py-3">
      <h2 class="display-6">Sport Reveals Character</h2>
      <figure>
        <blockquote class="blockquote" style="font-size: 1rem">
          <p>Tennis is, more than most sports, a sport of the mind.</p>
        </blockquote>
        <figcaption class="blockquote-footer text-white">
          Rafael Nadal
        </figcaption>
      </figure>
    </div>
    <div
      class="bg-light shadow-sm mx-auto"
      style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"
    >
      <img class="img-fluid img-thumbnail" src="../../assets/tennis.png" />
    </div>
  </div>
</div>

<!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="wow animate__slideInLeft bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"  data-wow-delay="0.5s" data-wow-duration="1s">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="wow animate__slideInRight bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"  data-wow-delay="0.5s" data-wow-duration="1s">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="wow animate__slideInLeft  bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" data-wow-delay="0.5s" data-wow-duration="1s">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="wow animate__slideInRight bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"  data-wow-delay="0.5s" data-wow-duration="1s">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div> -->
