<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </symbol>
</svg>

<div class="row gx-4 gy-2">
  <div class="col-1" id="name{{ i }}">{{ data.name }}</div>
  <div class="col-1" id="bmi{{ i }}">{{ data.bmi }}</div>
  <div class="col-1" id="Running_Speed{{ i }}">
    {{ data.Running_Speed }}
  </div>
  <div class="col-1" id="agility{{ i }}">
    {{ data.agility }}
  </div>
  <div class="col-1" id="Reaction_Time{{ i }}">
    {{ data.Reaction_Time }}
  </div>
  <div class="col-1" id="balance{{ i }}">
    {{ data.balance }}
  </div>
  <div class="col-1" id="strength{{ i }}">
    {{ data.strength }}
  </div>
  <div class="col-1" id="aggression{{ i }}">
    {{ data.aggression }}
  </div>
  <div class="col-1" id="aggression{{ i }}">
    {{ data.aggression }}
  </div>
  <div class="col-1" id="peripheral_vision{{ i }}">
    {{ data.peripheral_vision }}
  </div>
  <div class="col-1 col-md-1">
    <select id="inputSport" class="form-select" name="sportstype"
      style="width: 99px; height: 36px; margin-top: -5px; font-size: 13px">
      <option selected value="Football">Football</option>
      <option value="Cricket">Cricket</option>
      <option value="Tennis">Tennis</option>
      <option value="BasketBall">BasketBall</option>
    </select>
  </div>
  <div class="col-1" id="checkbox{{ i }}">
    <div *ngIf="isGroupSubmit && !isResponseArrived && isChecked" class="text-primary spinner-border spinner-border-sm"
      role="status" style="margin-top: -5px; margin-left: 53px">
      <span class="visually-hidden">Loading...</span>
    </div>
    <input *ngIf="!isGroupSubmit && (!isResponseArrived || !isChecked)" class="form-check-input me-1" type="checkbox"
      [checked]="isChecked" (change)="checkboxClicked(i)" value="i" aria-label="..." style="margin-left: 69px" />

    <div class="row" *ngIf="isResponseArrived && isChecked" style="width: 128px;">

      <div class="col-12">
        <span [ngClass]="getFontAwesomeClass()"   style="font-size: 18px;margin-top: 5px;margin-left: 21px;"></span>
        &nbsp;&nbsp;
        <a data-bs-toggle="tooltip"
          data-bs-placement="right" title="{{ responseData.prediction }}" data-bs-toggle="modal"
          [attr.data-bs-target]="'#exampleModal' + i" style="cursor: pointer;">
         <!-- {{'Other Recommendation' | shorten:12}} -->
         <span  style="max-height: 23px;margin-top: -4px;margin-left: 2px;" class="fa fa-newspaper-o"></span>
         <!-- <img class="img-fluid" src="../../../assets/click.png" /> -->
      </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div *ngIf="isResponseArrived" class="modal fade" id="exampleModal{{ i }}" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true" #modelElemRef>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-1">
          <img src="../../../assets/child.jpeg" class="img-fluid rounded-circle" style="max-width: 27px" />
        </div>
        <div class="col-7 fs-4 d-flex justify-content-center">
          Recommendation Report
        </div>
        <div class="col-2 d-flex justify-content-end">
          <span class="fa fa-user"></span>&nbsp; {{ data.name | titlecase }}
        </div>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-12">
              <div class="row">
                <div class="col-12">
                  <!-- Profile Details -->
                  <div id="profile-detail">
                    <table class="table report-table-modal">
                      <tbody>
                        <tr>
                          <th scope="row">BMI</th>
                          <td [ngClass]="getNotRecommendedKeyCSS('bmi')">
                            {{ data.bmi }}
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Running Speed</th>
                          <td [ngClass]="getNotRecommendedKeyCSS('Running_Speed')">
                            {{ data.Running_Speed }}
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Agility</th>
                          <td [ngClass]="getNotRecommendedKeyCSS('agility')">
                            {{ data.agility }}
                          </td>
                        </tr>

                        <tr>
                          <th scope="row">Reaction Time</th>
                          <td [ngClass]="getNotRecommendedKeyCSS('Reaction_Time')">
                            {{ data.Reaction_Time }}
                          </td>
                        </tr>

                        <tr>
                          <th scope="row">Balance</th>
                          <td [ngClass]="getNotRecommendedKeyCSS('balance')">
                            {{ data.balance }}
                          </td>
                        </tr>

                        <tr>
                          <th scope="row">Strength</th>
                          <td [ngClass]="getNotRecommendedKeyCSS('strength')">
                            {{ data.strength }}
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Aggression</th>
                          <td [ngClass]="getNotRecommendedKeyCSS('aggression')">
                            {{ data.aggression }}
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Anticipation Index</th>
                          <td [ngClass]="
                              getNotRecommendedKeyCSS('anticipation_index')
                            ">
                            {{ data.anticipation_index }}
                          </td>
                        </tr>

                        <tr>
                          <th scope="row">Peripheral Vision</th>
                          <td [ngClass]="
                              getNotRecommendedKeyCSS('peripheral_vision')
                            ">
                            {{ data.peripheral_vision }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-primary btn-sm" style="width: 100px" (click)="tryIt(modelRef)">
                      Re-Assess
                    </button>
                    <button type="button" #modelRef class="btn btn-secondary btn-sm" style="width: 100px"
                      data-bs-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>

              <!-- End of Profile details -->
            </div>
            <div class="col-md-8 col-12">
              <div class="card text-center">
                <div class="card-header" [ngClass]="
                    responseData.prediction === 'Recommended'
                      ? 'alert alert-primary'
                      : 'alert alert-danger'
                  " role="alert">

                  <div class="row">
                    <div class="col-5 d-flex justify-content-end">
                      <img  class="img-fluid d-flex justify-content-start" src="../../../assets/sportsimage/football.png" style="max-height: 20px;"/>
                    </div>
                    <div class="col-6 d-flex justify-content-start">
                     <span>Football</span>
                    </div>
                  </div>


                </div>
                <div class="card-body">
                  <h5 class="card-title prediction-text">{{ responseData.prediction }}</h5>

                  <div id="carouselExampleControls{{i}}" class="carousel  carousel-dark slide" data-bs-ride="carousel"
                    data-bs-touch="true">
                    <div class="carousel-inner">
                      <div class="carousel-item" *ngFor="let quote of quotes; let j= index" data-bs-interval="2000"
                        [ngClass]="j==0?'active':'' ">
                        <figure class="d-block w-100" id={{j}}>
                          <blockquote class="blockquote" style="font-size: 12px">
                            <p>
                              {{quote.title}}
                            </p>
                          </blockquote>

                          <figcaption class="blockquote-footer">
                            <cite title="Source Title"> {{quote.agency}}</cite>
                          </figcaption>
                        </figure>
                      </div>

                    </div>
                    <button class="carousel-control-prev" type="button"
                      [attr.data-bs-target]="'#carouselExampleControls' + i" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                      [attr.data-bs-target]="'#carouselExampleControls' + i" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  {{
                  responseData.prediction === "Recommended"
                  ? "Its time to get into training pitch!"
                  : "Football is far but
                  not too much. Please work on the below highlighted parameters!"
                  }}
                </div>
              </div>

              <div class="card mt-2" style="max-width: 240">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../../assets/interest1.jpeg" class="img-fluid rounded-start h-100" alt="" style="max-height: 100% !important; max-width: 109%!important" />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="
                      padding-left: 15px;
                      font-size: 18px;
                  ">Sports Recommendation</h5>
                      <div class="card-text">


                        <div class="alert alert-success" role="alert">

                          <div class="row">
                            <div class="col-2">
                              <img  class="img-fluid d-flex justify-content-start"  [src]="'../../../assets/sportsimage/'+getSportsImage(i)+'.png'"style="max-height: 20px;"/>
                            </div>
                            <div class="col-8">
                             <span> {{otherSportsRecommendation(i)}}</span>
                            </div>
                          </div>


                        </div>
                        <div class="alert alert-success" role="alert">

                          <div class="row">
                            <div class="col-2">
                              <img  class="img-fluid d-flex justify-content-start" [src]="'../../../assets/sportsimage/'+getSportsImage(i+1)+'.png'" style="max-height: 20px;"/>
                            </div>
                            <div class="col-8">
                             <span> {{otherSportsRecommendation(i+1)}} </span>
                            </div>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
