.recommended{
  /* width: 73px;
  margin-left: 22px;
  margin-top: -3px;
  padding: 3px; */
  /* width: 103px;
    margin-left: 8px;
    margin-top: -3px; */
    font-size: 8px;
}

.not-recommended{
  /* width: 73px;
    margin-left: 22px;
    margin-top: -3px;
    padding: 3px; */
    /* width: 103px;
    margin-left: 8px;
    margin-top: -3px; */
    font-size: 8px;
    color: currentcolor;
}

.btn-close {display: none;}

.report-table-modal{

    color: black;
    font-size: 12px;

}

.carousel-control-next-icon{
  max-width: 50px;
    max-height: 14px !important;

}

.carousel-control-prev-icon{
  max-width: 50px;
    max-height: 14px !important;

}

.card-title{
  color: blue;
    font-size: 17px;

}

.prediction-text{
 color: #1b3a57 !important;
 font-size: 18px !important;
}



