.bg-rcmd{
 background-color: skyblue;
 color: black;
 font-size: 15px;
}

.bg-rcmd.accordion-body{
  background-color: blue;
  font-family: sans-serif;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 32px;
  height: 123px;


}

.bg-nrcmd{
  background-color: lightgreen;
 color: black;
 font-size: 15px;

}

.bg-nrcmd.accordion-body{
  background-color: darkgreen;
  font-family: sans-serif;
  font-size: 12px;
  height: 123px;
  padding-top: 10px;
  padding-left: 32px;
}
