<section class="pt-1">
  <div class="row">
    <div class="col-2 form-check form-switch" style="padding-left: 52px;font-size: 12px;">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
        [checked]="isFilterSelected"
        (change)="showFilter()"
      />
      <label class="form-check-label" for="flexSwitchCheckChecked"
        >Enable Filters</label
      >
    </div>
    <div class="col-3 offset-7 d-flex justify-content-end">
      <span class="fa fa-lg fa-cloud-download Download"></span>
      &nbsp;&nbsp;
      <span class="fa fa-lg fa-print"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-2 align-middle" *ngIf="isFilterSelected" >
      <div class="row upper-content gy-1" style="padding-top: 25%;">
        <div class="col-12" *ngIf="isFilterSelected">
          <div class="d-flex align-items-center">
            <select id="inputState" class="form-select form-select-sm">
              <option selected>Search By Sport</option>
              <option value="Football">Football</option>
              <option value="Tennis">Tennis</option>
              <option value="Cricket">Cricket</option>
              <option value="BasketBall">BasketBall</option>
            </select>
          </div>
        </div>

        <div class="col-12 d-flex align-items-center">
          <div>
            <input
              type="text"
              class="form-control form-select-sm"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Search By Name"
            />
            <div
              id="emailHelp"
              class="form-text d-flex justify-content-center align-middle"
            >
              case insensitive
            </div>
            <div class="vl"></div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="Recommended"
            />
            <label class="form-check-label form-select-sm" for="inlineRadio1"
              >Recommended</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="Not Recommended"
            />
            <label class="form-check-label form-select-sm" for="inlineRadio2"
              >Not Recommended</label
            >
          </div>
        </div>

        <div class="col-12 mt-2">
          <div class="row gx-2 mb-3">
            <label for="name" class="col-sm-3 col-form-label form-select-sm"
              >Start</label
            >
            <div class="col-sm-9">
              <input
                type="date"
                class="form-control form-select-sm"
                id="inputEmail3"
                style="font-size: 11px"
              />
            </div>
          </div>
          <div class="row mb-3 gx-2">
            <label
              for="inputPassword3"
              class="col-sm-3 col-form-label form-select-sm"
              >End</label
            >
            <div class="col-sm-9">
              <input
                type="date"
                class="form-control form-select-sm"
                id="inputPassword3"
                style="font-size: 11px"
              />
            </div>
          </div>
          <!-- <div class="vl"></div> -->
        </div>

        <div class="col-12">
          <div class="row gx-2">
            <div class="col-5 offset-1">
              <button
                type="button"
                class="btn btn-primary w-100 fw-bold btn-sm"
              >
                Apply
              </button>
            </div>

            <div class="col-6 d-flex align-items-start">
              <button
                type="button"
                class="btn btn-secondary w-100 fw-bold btn-sm"
              >
                Reset
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="rowNum">
      <div class="lower-content">
        <div class="row">
          <div class="col-12">
            <div class="accordion accordion-flush" id="accordionFlush">
              <div class="accordion-item">
                <div class="row mt-3 container-fluid report-title">
                  <div class="col-2 fs-6 d-flex justify-content-start">Name</div>
                  <div class="col-3 fs-6 d-flex " style="margin-left: 4%;">Sport Type</div>
                  <div class="col-3 fs-6 d-flex justify-content-start" style="margin-left: -30px;">Recommendation</div>
                  <div class="col-3 fs-6 d-flex justify-content-end" style="margin-left: -7px;">Assessment Date</div>
                </div>
              </div>
              <div
                class="accordion-item"
                *ngFor="let user_profile of user_profiles; let i = index"
              >
                <app-user-profile
                  [profile]="user_profile"
                  [i]="i"
                ></app-user-profile>
              </div>
            </div>
          </div>
        </div>
      </div>

      <nav aria-label="Page navigation example" style="margin-top: 10px">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- <p class="text-align-center d-flex justify-content-center p-1">Recommendation History</p> -->
</section>
